@import 'MoveList.scss';
@import 'Goal.scss';
@import 'Goals.scss';

.App {
  @media (min-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 400px;
  }

  @media (max-width: 699px) {
    .goals {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    }
  }
}
