@import 'MoveList.scss';
@import 'Goal.scss';
@import 'Goals.scss';

.App {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 699px) {
    .goals {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    }
  }
}
